/* Color pallete
 #343533
 
 #89665B
    #e9e2a9
*/

body {
    min-width:720px;
}  

* {
    background-color: #343533;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#F8F8F6;
    text-align:center;

}

.name {
    color: #e9e2a9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande';
    font-size:xx-large;
    background-color: #343533;
    display:inline-block;
    margin: 50px 5%;
    text-align:left;
    box-align:top;
}




main {
    display:flex;
    width:100%;
    justify-content:center;
    align-items:stretch;
    flex-wrap:wrap;
}
.column {
    
    margin: 20px 1%;
    border:50px;
    
    
    border:solid;
    border-width:3px;
    border-color:#e9e2a9;
    border-radius:5%;
    color:#e9e2a9;
    background-color:#5D3e4c;
    padding:1% ;
    
}
.column *{
    color:#e9e2a9;
    background-color:#5D3e4c;
   
    
    
}
#one {
   flex-grow:2;
   min-width:200px;
   max-width:300px;

    
}
#two {
    flex-grow:1;
    min-width:150px;
    max-width:200px;
    background-color:#343533
}
#two * {
    color:#F8F8F6;
    background-color:#343533;
}
#three {
    flex-grow:1;
    min-width:150px;
    max-width:200px;
}
#four {
    flex-grow:2;
    min-width:200px;
    max-width:300px;
    background-color:#343533;
}
#four * {
    color:#F8F8F6;
    background-color:#343533;
}








.bout {
    background-color:#e9e2a9;
    color:#343533;
    margin: 20px 0%;
    width:100%;

}
img {
    display:inline-block;
    width:20%;
    border:solid;
    border-radius: 5%;
    border-color: #e9e2a9;
    border-width:50%;
    margin-left:0%;
    height: 300px;
    
}






nav li a {
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:#5D3e4c;
    color:#e9e2a9;
    width:100%;
}
nav li {
    list-style-type:none;
    margin:0;
    padding:0;
    background-color:#5D3e4c;
    color:#e9e2a9;
    
    width: 31%; 
    float:left;
    height: 100px;
    text-align:center;
    line-height:100px;
    border:solid;
    border-width: 10px 5px;
    border-color:#e9e2a9;
    margin:0px 0px 50px 0px;

    
}
.current a, .current {
    background-color:#343533;
    color:#e9e2a9;
}





#contact, #hobby {
    width:60%;
    margin:50px;
    float:none;
    height:200px;
    display:inline-block;
}
strong {
    font-weight:800;
}
#hobby li {
    background-color:#5D3e4c;
    color:#e9e2a9;
    border:solid;
    border-radius: 5%;
    border-color:#e9e2a9;
    border-width:3px;
    margin-bottom:50px;
    padding:50px;
}




form {
    display:flex;
    
    flex-wrap:wrap;
    flex-direction:column;
    text-align:left;

}

quest {
    display:flex;
    margin:10px 25%;
    display:block;
    flex-direction:column;
    text-align:left;
    
    


}
img:hover {
    display:inline-block;
    width:20%;
    border:solid;
    border-radius: 5%;
    border-color: #F8F8F6;
    border-width:50%;
    margin-left:0%;
    height: 300px;
}
.button:hover{
    color:#e9e2a9;
}
input:focus, textarea:focus{
    background-color:#F8F8F6;
    color:#343533;
}


quest label {
    
    margin:0%
}
#mc {
    display:flex;
}


#finish {
    width:100%;
    margin:0px;
    text-align:center;
}
a:hover {
    color:#F8F8F6;
}
.c-error, .c-validation, .c-label {
    background-color:#F8F8F6;
    color:#343533;
}


@media (max-width:1000px) {
   main {
    flex-direction:column;
   }
   .column, #one,#two,#three,#four,li,form{
    width: 100%;
    max-width:none;
    list-style-type:none;
   }
}
